html
    head
        title='Lista de productos'
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    body
        h1='Lista de productos'
        table.table
            thead.thead-dark
                tr      
                    th(scope='col')='title'
                    th(scope='col')='price'
                    th(scope='col')='thubnail'   
            tbody
                each product in products
                    tr
                    each value, key in product
                        if(key != 'id')
                            if (key == 'thumbnail')
                                td
                                    img(src='https://picsum.photos/200' width='50', height='auto')
                            else
                                td=value
                else
                    h3='No hay productos'